In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Belyy Yar,RU,2021-04-23 17:44:24,53.6039,91.3903,33.80,40,0,8.95
1,1,Mezokeresztes,HU,2021-04-23 17:44:24,47.8333,20.7000,45.68,65,46,8.03
2,2,Cuamba,MZ,2021-04-23 17:44:24,-14.8031,36.5372,66.43,83,19,3.78
3,3,San Cristobal,VE,2021-04-23 17:44:25,7.7669,-72.2250,89.60,55,20,14.97
4,4,Albany,US,2021-04-23 17:41:01,42.6001,-73.9662,57.00,25,23,3.00

In [3]:
#Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
#Configure gmaps to use your google api key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [12]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, -80), zoom_level=1.5)
# Assign the heatmap variable.
#heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, -80), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, -80), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [17]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,San Cristobal,VE,2021-04-23 17:44:25,7.7669,-72.2250,89.60,55,20,14.97
8,8,Kieta,PG,2021-04-23 17:44:26,-6.2167,155.6333,77.02,86,99,1.14
18,18,Souillac,MU,2021-04-23 17:44:29,-20.5167,57.5167,78.80,83,40,9.22
19,19,Kloulklubed,PW,2021-04-23 17:44:01,7.0419,134.2556,75.20,94,75,5.93
25,25,Alto Lucero,MX,2021-04-23 17:44:30,19.6167,-96.7167,88.14,39,79,6.31
27,27,Rikitea,PF,2021-04-23 17:44:31,-23.1203,-134.9692,79.14,69,97,19.13
29,29,Hurghada,EG,2021-04-23 17:44:32,27.2574,33.8129,80.60,36,0,16.11
31,31,Cabedelo,BR,2021-04-23 17:44:32,-6.9811,-34.8339,86.00,70,75,12.66
32,32,Saint-Philippe,RE,2021-04-23 17:44:32,-21.3585,55.7679,77.00,78,75,11.50
35,35,Puerto Ayora,EC,2021-04-23 17:44:33,-0.7393,-90.3518,84.20,70,40,11.50

In [18]:
preferred_cities_df.count()

City_ID       163
City          163
Country       162
Date          163
Lat           163
Lng           163
Max Temp      163
Humidity      163
Cloudiness    163
Wind Speed    163
dtype: int64

In [19]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
3    San Cristobal      VE     89.60   7.7669  -72.2250
8            Kieta      PG     77.02  -6.2167  155.6333
18        Souillac      MU     78.80 -20.5167   57.5167
19     Kloulklubed      PW     75.20   7.0419  134.2556
25     Alto Lucero      MX     88.14  19.6167  -96.7167
27         Rikitea      PF     79.14 -23.1203 -134.9692
29        Hurghada      EG     80.60  27.2574   33.8129
31        Cabedelo      BR     86.00  -6.9811  -34.8339
32  Saint-Philippe      RE     77.00 -21.3585   55.7679
35    Puerto Ayora      EC     84.20  -0.7393  -90.3518

In [20]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [21]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [22]:
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,San Cristobal,VE,89.60,7.7669,-72.2250,Posada Villaven C.A.
8,Kieta,PG,77.02,-6.2167,155.6333,Uruna Bay Retreat
18,Souillac,MU,78.80,-20.5167,57.5167,Shanti Maurice Resort & Spa
19,Kloulklubed,PW,75.20,7.0419,134.2556,Storyboard Beach Resort
25,Alto Lucero,MX,88.14,19.6167,-96.7167,Hotel Cantil

In [23]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, 
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [28]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [29]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, -80), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))